.formContainer {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

button:disabled {
  cursor: not-allowed;
  width: 100%;
  padding: 10px;
  background-color: #eee;
  color: #444;
}

.formContainer button {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}
