.mainNavigation {
  width: 100%;
  height: 4.5rem;
  background: #ede9fe;
}

.mainNavigation nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainNavigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainNavigation li {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.mainNavigation .cartLink {
  position: relative;
}

.mainNavigation a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
}

.mainNavigation a:hover,
.activated {
  background: #fff;
  color: #6d28d9;
}

.mainNavigation span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6d28d9;
  color: #fff;
  font-size: 14px;
}
