.container {
  display: flex;
  justify-content: center;
}

.productList {
  margin-top: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem 2rem;
  max-width: 1170px;
}

.product {
  border-radius: 5px;
  /* padding-top: 10px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #efefef;
}

.productImage {
  width: 100%;
}
.productImage img {
  width: 100%;
  height: 210px;
}

.productDesc {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.btn{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px 15px;
  color: #6d28d9;
  background: #ede9fe;
  cursor: pointer;
}

.primary{
  background-color: #6d28d9;
  color: #fff;
  margin-bottom: 7px;
}