.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.productList {
  /* margin-top: 50px; */
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem 2rem;
  width: 90vw;
  max-width: 1170px;
}

.product {
  border-radius: 5px;
  /* padding-top: 10px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #efefef;
}

.productImage {
  width: 85%;
}
.productImage img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 210px;
}

.productDesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #ccc;
  background: #ede9fe;
}

.productDesc {
  font-weight: bold;
}

.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #6d28d9;
  background: #ede9fe;
  cursor: pointer;
  font-size: 12px;
}

.primary {
  background-color: #6d28d9;
  color: #fff;
  margin-bottom: 7px;
}
